<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12">
        <h1>New Tutorial</h1>

        <%= render 'tutorial_form' %>
        <br>
        <%= link_to 'Cancel', user_path(current_user.id) %>
      </div>
    </div>
  </div>
</div>
