<h1>About Us</h1>

<h3>Our Mission</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis turpis sed nunc vehicula ullamcorper. Etiam non dolor at lacus egestas porta. Nam ut imperdiet ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pretium ante libero, id venenatis lacus congue ac. Integer tincidunt lacinia ligula sed commodo. Aenean rhoncus arcu enim, ac lobortis nisi elementum nec. Cras odio eros, facilisis in lacus ac, cursus vestibulum lorem. Nam libero mauris, mollis non tempus quis, interdum eu elit. In eu libero sit amet metus sagittis vulputate vel vel turpis. Sed ullamcorper vulputate dui sed semper. Nullam sit amet lacinia enim.</p>

<h3>Development Team</h3>

<p><b>Landon West</b><br>Landon is an awesome developer, originally from Bountiful, UT, currently calling CA home.</p>
<p><b>David Woolf</b><br>David is an awesome developer, originally from Oklahomo, currently calling UT home.</p>
<p><b>Josh Cloward</b><br>Josh is an awesome developer, originally from UT, currently calling UT home.</p>
