<div class="row">
  <div class="large-12 columns">
    
    <h1>About Us</h1>

    <h3>Our Mission</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis turpis sed nunc vehicula ullamcorper. Etiam non dolor at lacus egestas porta. Nam ut imperdiet ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pretium ante libero, id venenatis lacus congue ac. Integer tincidunt lacinia ligula sed commodo. Aenean rhoncus arcu enim, ac lobortis nisi elementum nec. Cras odio eros, facilisis in lacus ac, cursus vestibulum lorem. Nam libero mauris, mollis non tempus quis, interdum eu elit. In eu libero sit amet metus sagittis vulputate vel vel turpis. Sed ullamcorper vulputate dui sed semper. Nullam sit amet lacinia enim.</p>

    <h3>Development Team</h3>
    <div class="justify">
      <img class="img-left profile-pic" src="http://placehold.it/100x100">
      <h6>Landon West</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="justify">
      <img class="img-right profile-pic" src="http://placehold.it/100x100">
      <h6>David Woolf</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="justify">
      <img class="img-left profile-pic" src="http://placehold.it/100x100">
      <h6>Josh Cloward</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

  </div>
</div>
