<div class="row">
  <div class="large-12 columns">

    <h1>About Us</h1>

    <h3>Our Mission</h3>
    <p>PatchaTech was conceived as a capstone project at DevPoint Labs by three students and aspiring web developers. The idea was simple: create a website that fills the need for free, peer-submitted and reviewed tutorials that tackle common issues with today's modern devices. By making PatchaTech your go-to site for gaining new knowledge and skills, you'll end up saving a fist-full of dollars (and more than a few headeaches!) fixing your devices yourself.</p>

    <h3>Development Team</h3>
    <div class="justify">
      <%= image_tag "Lando-suite.jpg", alt: "Landon West", class: "img-left profile-pic" %>
      <h6>Landon West</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="justify">
      <img class="img-right profile-pic" src="http://placehold.it/100x100">
      <h6>David Woolf</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
    <div class="justify">
      <img class="img-left profile-pic" src="http://placehold.it/100x100">
      <h6>Josh Cloward</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>

  </div>
</div>
