<h1>PatchaTech</h1>

<p>A website for learning how to repair, maintain, and improve your computer, tablet, or phone.</p>
<div class="row"
  <div 
</div>

<div class="row">
  <div class="large 12 columns">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li> <img src="http://placehold.it/125x125"> </li>
        <li> <img src="http://placehold.it/125x125"> </li>
        <li> <img src="http://placehold.it/125x125"> </li>
        <li> <img src="http://placehold.it/125x125"> </li>
        <li> <img src="http://placehold.it/125x125"> </li>
        <li> <img src="http://placehold.it/125x125"> </li>
        <li> <img src="http://placehold.it/125x125"> </li>
        <li> <img src="http://placehold.it/125x125"> </li>
    </ul>
  </div>
</div>
