<section id="banner">
  <div class="row">
    <div class="large-6 columns">
      <p>Problems with your computer or mobile device? We have the answer here.</p>
    </div>
    <div class="large-6 columns">
      <%= image_tag "banner-img.png", alt: "Mobile Device" %>
    </div>
  </div>
</section>

<div class="row" id="main">
  <div class="large-12 columns">
    <h2>Recent Tutorials</h2>
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
        <li> <img src="http://placehold.it/200x200"> </li>
        <li> <img src="http://placehold.it/200x200"> </li>
        <li> <img src="http://placehold.it/200x200"> </li>
        <li> <img src="http://placehold.it/200x200"> </li>
        <li> <img src="http://placehold.it/200x200"> </li>
        <li> <img src="http://placehold.it/200x200"> </li>
        <li> <img src="http://placehold.it/200x200"> </li>
        <li> <img src="http://placehold.it/200x200"> </li>
    </ul>
  </div>
</div>
