/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/* Header Styles */
#logo {
  font-size: 1.5em;
  margin-top: -2.5px;
}

/* Footer Styles */

footer {
  width: 100%;
  color: #999;
  background-color: #333;
  text-align: center;
}

footer ul {
  padding: 0;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

footer li {
  display: inline;
  margin: 0 10px 0 0;
}

footer li a {
  color: #fff;
}

footer li a:hover {
  color: #44aada;
}

footer p {
  padding-bottom: 20px;
  margin: 0;
}

footer #social-media {
  margin-bottom: 20px;
}

footer #social-media img {
  margin-right: 10px;
}

footer #social-media img.last-item {
  margin-right: 0;
}

/* Misc Classes*/

.last-item {
  margin-right: 0;
}

.orange {
  color: #ff9955;
}

.margin-right-20 {
  margin-right: 20px;
}
