/*

 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 *= require video-js
 *= require spinning_circle
*/


/*videojs play button*/

.vjs-default-skin .vjs-big-play-button {
  top: 50% !important;
  left: 50% !important;
  width: 120px !important;
  height: 80px !important;
  margin: -40px 0px 0px -60px !important;
}

/* General Styles */

h1 {
 border-bottom: 2px #ccc solid;
 margin-bottom: 20px;
}

.main-content {
 margin: 20px 0;
 min-height: 75vh;
}

/* Devise Styles */

.devise-submit {
  background-color: #ff9955;
  border: none;
  font-size: .8em;
  padding: 10px 25px;
  margin-left: 0;
  color: #fff;
  border-radius: 2px;
}

.devise-submit:hover {
  background-color: #ff7f2a;
  cursor: pointer;
}

#cancel-text {
  font-size: 0.7em;
}

.cancel-button {
  background-color: red;
}

/* Flash Styles */

.flash {
  position: relative;
}

.flash-message {
  position: absolute;
  top: 0;
}

.flash .notice {
  background-color: #91DE7A;
  padding: 0 10px;
  color: #fff;
}

.flash .alert {
  background-color: #F14747;
  padding: 0 10px;
  color: #fff;
}

/* Header Styles */

#logo {
  font-size: 1.5em;
  margin-top: -2.5px;
  border-bottom: none;
}

#dropdown-button {
  text-indent: -9999px;
  margin-right: -10px;
}

.go {
  background-color: #ff9955;
}

.go:hover{
  background-color: #ff7f2a;
  cursor: pointer;
}

.go:active{
  background-color: #ff7f2a;
}

.go:visited{
  background-color: #ff7f2a;
}

/* Footer Styles */

footer {
  width: 100%;
  color: #999;
  background-color: #333;
  text-align: center;
}

footer ul {
  padding: 0;
  margin: 0;
  padding: 20px 0;
  list-style: none;
}

footer li {
  display: inline;
  margin: 0 10px 0 0;
}

footer li a {
  color: #fff;
}

footer li a:hover {
  color: #44aada;
}

footer p {
  padding-bottom: 20px;
  margin: 0;
}

footer #social-media {
  margin-bottom: 20px;
}

footer #social-media img {
  margin-right: 10px;
}

footer #social-media img.last-item {
  margin-right: 0;
}

/* Modal Styles */

.reveal-modal input[type="submit"] {
  background-color: #ff9955;
  border: none;
  font-size: .8em;
  padding: 10px 25px;
  margin-left: 0;
  color: #fff;
  border-radius: 2px;
}

.reveal-modal input[type="submit"]:hover {
  background-color: #ff7f2a;
  cursor: pointer;
}

#cancel-account {
  background-color: #fff;
  padding: 0;
  color: #44aada;
  border-radius: 0;
}

#cancel-account:hover {
  background-color: #fff;
  text-decoration: underline;
}

/* Misc Classes*/

.last-item {
  margin-right: 0;
}

.bold {
  font-weight: bold;
}

.orange {
  color: #ff9955;
}

.blue {
  color: #44aada;
}

.green {
  color: #71c837;
}

.red {
  color: #d40000;
}

.margin-right-20 {
  margin-right: 20px;
}

.submit-button {
  background-color: #ff9955;
  border: none;
  font-size: .8em;
  padding: 10px 25px;
  margin-left: 0;
  color: #fff;
  border-radius: 2px;
}

.submit-button:hover {
  background-color: #ff7f2a;
  cursor: pointer;
}

#upload-load p, #upload-load div{
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

/* Tutorial Thumbnail Styles*/

.tile-title {
  padding: 10px;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  border-bottom: 1px #ccc solid;
  max-width: 200px;
  background-color: #eee;
  color: #333;
}

.tile-title div {
  font-size: .9em;
  display: inline;
  margin-right: 5px;
}

.tile-title #truncate  {
  margin: 5px 0;
}

.truncate {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
