/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


 #homepage{
   height: 400px;
   float: left;
   width: 100%;
   background-color: #44aada;
   /* orangish #ff7f2a  purpleish #aa88dd redish #dd4c4a*/
   margin-bottom: 20px;
 }
#banner{
  padding: 20px;
  color: #eeddee;
}

#banner h1{
  color: #eeddee;
}

#main{
  margin: 20px;
  width: 100%
}

#footer{
  margin: 0 auto;
  width: 100%;
  color: #9999aa;
  display: inline;
}

#footer-lists{
  background-color: #444444;
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.inline-list{
  font-size: 12px;
  list-style: none;
}

#copyright{
  background-color: #444444;
  padding-left: 10px;
  color: #9999aa;
  border-top: solid 1px;
  border-color: #9999aa;
  border-width: 75%;
}

#copyright p{
  margin: 10px;
  margin-left: 20px;
  font-size: 12px;
}
