/* General Styles */

h3 {
  margin-bottom: 20px;
}

h6 {
  font-weight: 800;
}

img.profile-pic {
}

/* Index Page */
.info-box{
  border-right: 1px solid #999;
}

.info-box-top {
  margin-top: 35px;
  margin-bottom: 15px;
  text-align: center;
}

.info-box-top h3 {
  margin-top: 8px;
  font-size: 1.5em;
}

.info-box-top img {
  margin-top: 20px;
  width: 8em;
}

.info-box-bottom {
  margin-bottom: 35px;
  color: #333;
}

.info-box-top .pencil {
  margin: 35px 0 20px 0;
  width: 5.5em;
}


#banner {
  width: 100%;
  padding: 0;
  margin: -20px 0 0 0;
  background-color: #44aada;
  margin-bottom: 20px;
}

#banner p {
  color: #eee;
  font-size: 2.3em;
  font-weight: 300;
  margin: 50px 0;
}

#banner img {
  margin-top: 20px;
  width: 500px;
}

#banner .banner-button {
  background-color: #ff9955;
  margin-top: -50px;
  border-radius: 5px;
}

#banner .banner-button:hover {
  background-color: #ff7f2a;
  cursor: pointer;
}

#main h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* About Page */

.justify {
  text-align: justify;
}

.img-left {
  float: left;
  margin-right: 20px;
}

.img-right {
  float: right;
  margin-left: 20px;
}

/* Contact Page */

.def-info dd{
    margin-left: 10px;
}

.def-info dd a i{
    color: #000;
    font-size: 1.5em;
}

.def-info .fa-linkedin-square{
    color: #0066aa;
    font-size: 1.5em;
}

.contact-submit {
  background-color: #ff9955;
  border: none;
  font-size: .8em;
  padding: 10px 25px;
  margin-left: 0;
  color: #fff;
  border-radius: 2px;
}

.contact-submit:hover {
  background-color: #ff7f2a;
  cursor: pointer;
}
