// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.video-header{
  margin: 0;
  padding: 0;
}

video {
  margin: 0;
  padding: 0;
}

.video-info{
  margin-top: 20px;
}

.video-info h6{
  font-weight: 800;
}
