/* Tutorial Show Page */

.video-header {
  margin: 0;
  padding: 0;
}

video {
  margin: 0;
  padding: 0;
}

.video-info {
  margin-top: 20px;
}

.video-info h6 {
  font-weight: 800;
}

.rate-button {
  float: left;
  margin: -5px 10px 0 0;
}

.video-info input[value="Rate Up"]:hover {
  background-color: green;
}

.video-info input[value="Rate Down"]:hover {
  background-color: #d40000;
}

.rated {
  font-style: italic;
  color: #999;
  margin-left: 10px;
}

.tut-rating {
  float: left;
}

.tut-rating span {
  font-weight: bold;
}

.user-rated {
  clear: both;
}

.created-at {
  float: right;
}

.sign-in-to-rate {
  margin-top: -15px;
  font-style: italic;
  color: #999;
}

@media only screen and (max-width: 40em) {
  .created-at {
    float: left;
  }
}
