/* Tutorial Index Page */

.tile-title {
  padding: 10px;
  border: 2px #ccc solid;
  max-width: 200px;
  color: #44aada;
}



/* Tutorial Show Page */

.video-header {
  margin: 0;
  padding: 0;
}

video {
  margin: 0;
  padding: 0;
}

.video-info {
  margin-top: 20px;
}

.video-info h6 {
  font-weight: 800;
}

.rate-button {
  float: left;
  margin: -5px 10px 0 0;
}

.rated {
  font-style: italic;
  color: #999;
  margin-left: 10px;
}

.tut-rating {
  float: left;
}

.tut-rating span {
  font-weight: bold;
}

.rate-buttons {
  width: 200px;
}

.user-rated {
  clear: both;
}

.created-at {
  float: right;
}
