/* Profile Page */

#profile-page {
  margin-top: 30px;
}

h2 {
  border-bottom: 2px #ccc solid;
  font-size: 1.8em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.profile-info li:nth-child(1) {
  font-size: 2em;
  font-weight: 500;
}

.profile-info li:nth-child(2), .profile-info li:nth-child(3) {
  font-size: 1.2em;
}

.profile-info li:nth-child(4) a, .profile-info li:nth-child(5) a {
  width: 150px;
  background-color: #ff7f2a;
}

.profile-info li:nth-child(4) a:hover, .profile-info li:nth-child(5) a:hover {
  background-color: #ff6600;
}

.profile-info li a {
  margin: 0;
  margin-top: 10px;
}

.tutorial-option {
  margin-top: 10px;
  width: 98px;
}

#profile-page .delete-hover:hover {
  background-color: #d40000;
}
