<div class="row" id="footer">
  <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3" id="footer-lists">
    <li>
        About Us
      <ul class="nested-list">
        <li> Contact Us </li>
      </ul>
    </li>
    <li>
      <%= 'Profile' %>
      <ul class="nested-list">
        <li> Edit Profile </li>
      </ul>
    </li>
    <li>
      <%= 'Tutorials' %>
      <ul class="nested-list">
        <li> My Tutorials </li>
      </ul>
    </li>
  </div>

</div>
