<div class="fixed">
  <nav class="top-bar" data-topbar>

    <ul class="title-area">
      <li class="name"><h1 id="logo"><a href="/">patcha<span class="orange">Tech</span></a></h1></li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">

      <ul class="left">
        <li class="divider"></li>
        <li><a href="/tutorials">Tutorials</a></li>
        <li class="margin-right-20 divider"></li>
        <li><input type="search" name="search" results placeholder="&nbsp;search..."></li>
      </ul>

      <% if signed_in? %>

        <ul class="right">
          <li><a href="<%= user_path(current_user.id) %>"><%= current_user.username %></a></li>
          <li class="divider"></li>
          <li class="has-dropdown">
            <a id="dropdown-button" href="#">options</a>
            <ul class="dropdown">
              <li><a href="#" data-reveal-id="new-tutorial-modal">New Tutorial</a></li>
              <li><a href="#" data-reveal-id="edit-user-modal">Edit Account</a></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>

      <% else %>

        <ul class="right">
          <li><a href="#" data-reveal-id="new-user-modal">Sign Up</a></li>
          <li><a href="#" data-reveal-id="sign-in-modal">Sign In</a></li>
        </ul>

      <% end %>

    </section>
  </nav>
</div>
